/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/4496d7e5-c59d-40be-8890-9c7ea2913ae1%2Fbackground.jpg?v=1583183856568");
  background-repeat: 1;
  background-size: cover;
}

.name{
  padding-top:20px;
  padding-right:5px;
  line-height:15px;
  font-weight:bold;
  text-transform:capitalize;
}

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}
.mapouter{position:relative;text-align:right;height:200px;width:100px;}
  
.gmap_canvas {overflow:hidden;background:none!important;height:200px;width:100px;}
  
  