/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-image: url("https://cdn.glitch.com/4496d7e5-c59d-40be-8890-9c7ea2913ae1%2Fbackground.jpg?v=1583183856568");
  background-repeat: no-repeat;
  background-size: cover;

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}
.mapouter{position:relative;text-align:right;height:500px;width:600px;}
  
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}