<form class="ui stacked segment form" action="/general/{{general.id}}/addcomment" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" type="text" name="username" autofocus required>
    </div>
    <div class="field">
      <label>Comment</label>
      <input placeholder="Comment" type="text" name="comment" required>
    </div>
  </div>
  <button class="ui white submit button">Add Comment</button>
</form>